@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;500;600;700&family=Montserrat:ital,wght@0,367;1,367&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: url("../Portafolio/Background.jpg") no-repeat center / cover;
    padding: 50px 2%;
    overflow: hidden;
}
.home {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 50px 5% 0;
    color: #efff;
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

.home-detail h2 {
    font-size: 32px;
}

.home-detail p {
    margin: 10px 0 20px;
}

.home-detail .home-detail {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    color: #333;
}

.home-detail .social-icons {
    display: flex;
    margin-top: 40px;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
    transition: .5s;   
}

.home-detail .social-icons a:hover {
   background: #fff;
   box-shadow: 0 0 10px #fff;
   color: #333;
}

.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
    display: flex; /* Centra el contenido */
    justify-content: center;
    align-items: center;
}

.home-img .img-box img {
    position: absolute; /* Asegura que no se mueva con el flujo del documento */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen dentro del círculo */
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
