@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(65, 247, 237, 0.7)), url(../Portafolio/technology-hologram-illustrated.jpg);
    background-size: cover;
    background-position: center;
    height: 150vh;
    padding: 20px 2%;
    text-align: center;
}

.sobremi{
    color: #fff;
    padding-top: 80px;

}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 55px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 20px;
}
.sobremi .contenido-seccion p span{
    color:#BF78FB;
    font-weight: bold;
    font-size: 25px;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 38px;
font-family: 'Poppins', sans-serif;

    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color:#BF78FB;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color:#BF78FB;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: rgb(59, 226, 218, 0.6);
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color:#BF78FB;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 38px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:#BF78FB;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}